.btnNumero{
   width: 60px;
   height: 60px; 
   margin: 2px; 
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.btnNumero:hover{
    background-color: bisque;
}
.orange{
    background-color: orange;
}
.darkgrey{
    background-color: darkgrey; 
}  

